.results {
    background: #f5f6f7;
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .results__title {
    margin: 0 auto 64px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1a1b22;
    width: 90%;
    max-width: 1232px;
  }
  
  .results__show-more {
    height: 64px;
    width: 288px;
    border-radius: 80px;
    background: #ffffff;
    border: none;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #1a1b22;
    display: block;
    margin: 64px auto 0;
  }
  
  .results__show-more:hover {
    background-color: #e8e8e8;
    transition: 0.4s;
  }
  
  .results__show-more_hidden {
    display: none;
  }
  