@import url("../../vendor/fonts.css");

.header {
  height: 80px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0 104px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_black {
  box-shadow: inset 0px -1px 0px #d1d2d6;
}

.header__logo {
  font-family: "Roboto Slab";
  font-weight: 700;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  max-width: 250px;
  text-decoration: none;
  display: flex;
}

.header__logo_mobile {
  max-width: 100%;
}

.header__logo_black {
  color: black;
}

.header_black {
  box-shadow: inset 0px -1px 0px #d1d2d6;
}

.header__hamburger {
  background: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 20px;
}

.header__hamburger_black {
  background-image: url("../../images/menu_black.svg") !important;
}

.header__hamburger_white {
  background-image: url("../../images/menu.svg") !important;
}

@media screen and (max-width: 899px) {
  .header {
    padding: 0 60px 0;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 66px;
    padding: 0 40px 0;
  }
}

@media screen and (max-width: 732px) {
  .header {
    height: 66px;
    padding: 0 20px 0;
  }
}

@media only screen and (max-width: 620px) {
  .header__hamburger {
    background-image: cover;
    height: 40px;
    width: 40px;
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 480px) {
  .header__hamburger {
    height: 24px;
    width: 24px;
  }
}

@media only screen and (max-width: 437px) {
  .header {
    height: 56px;
  }
}
