.footer {
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 104px;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto
}

.footer__copyright {
  font-size: 16px;
  color: #b6bcbf;
  max-width: 288px;
  display: flex;
}

.footer__links-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  position: relative;
}

.footer__link {
  margin-left: 20px;
  text-decoration: none;
 
}

.footer__link_icon {
  height: 20px;
  width: 20px;
  margin-left: 28px;
  background-size: contain;
}

.footer__link:visited {
  text-decoration: none;
  color: black;
}

.footer__link:first-child {
  margin-left: 0;
}

@media screen and (max-width: 899px) {
  .footer {
    padding: 0 60px 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 40px 0;
  }
}

@media screen and (max-width: 732px) {
  .footer {
    box-sizing: border-box;
    padding: 0 20px 0;
  }
}
@media screen and (max-width: 679px) {
  .footer {
    height: 100px;
    flex-direction: column;
    margin-top: 0;
    text-align: left;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .footer__copyright {
    position: relative;
    bottom: -60px;
  }
  .footer__links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 30px;
  }
  .footer__link {
    margin-left: 40px;
  }
}

@media screen and (max-width: 437px) {
  .footer__links-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    bottom: 45px;
  }

  .footer__link_text_practicum {
    margin-left: 0;
    margin-top: 25px;
  }

  .footer__copyright {
    position: relative;
    top: 120px;
    left: 0px;
    padding-bottom: 25px;
    width: 288px;
  }

  .footer__link_icon {
    position: absolute;
    right: 16px;
    top: 0px;
  }
  .footer__link_icon_git {
    position: absolute;
    right: 76px;
  }
}
